{% extends 'base.html.twig' %}

{% block body %}
    <h1>This list is your things to do before you die - just put your dreams and realize it!</h1>

    <div class="images">
        <div class="row">
            <div class="image1 col-md-3">
            </div>
            <div class="image2 col-md-3">
            </div>
            <div class="image3 col-md-3">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </div>
            <div class="image4 col-md-3">
            </div>
        </div>
    </div>
{% endblock %}