@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Doppio One');


body {
    background-color: rgb(47, 70, 102);
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFDFAA;
}
.menu li {
    display: inline;
    margin: 20px;
    padding-top: 100px;
}
.menu {
    box-shadow: 15px 0px 75px 12px black;
}
.menu a {
    text-transform: uppercase;
    line-height: 40px;
    font-family: "Audiowide";
    color: rgb(47, 70, 102);
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}
table {
    background-color: #FFDFAA;
    font-family: Doppio One;
    color: rgb(47, 70, 102);
    box-shadow: 15px 0px 75px 12px black;
}
.container {
    margin-top: 10%;
}
.container h1 {
    font-family: "Russo One";
    color: white;
    text-align: center;
}
.container table {
    width: 90%;
    margin: 0 auto;
}
.col-md-3{
    height: 200px;
}
.images {
    width: 100%;
    padding-top: 100px;
}
.image1 {
    background-image: url("img/airplane.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.image2 {
    background-image: url("img/book.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.image3 {
    color: white;
    font-size: 174px;
}
.image4 {
    background-image: url("img/pencil.png");
    background-size: 179px;
    background-repeat: no-repeat;
}
.control-label {
    color: #FFDFAA;
    font-family: "Audiowide";
}
#fos_user_registration_form input {
    background-color: #FFDFAA;
    color: rgb(47, 70, 102);
}
form.fos_user_registration_register div input {
    background-color: #FFDFAA;
    color: rgb(47, 70, 102);
    font-family: "Audiowide";
}
input#username, input#password {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #FFDFAA;
    color: rgb(47, 70, 102);
    font-family: "Audiowide";
}
div.container div form label {
    color: #FFDFAA;
    font-family: "Audiowide";
    padding-top: 14px;
}
input#_submit {
    background-color: #FFDFAA;
    color: rgb(47, 70, 102);
    font-family: "Audiowide";
}
a.btn.btn-info.btn-large {
    margin-top: 36px;
}